* {
  background-color: #e1c2aa;
}
.menu {
  display: flex;
  justify-content: end;
  font-size: x-large;
  list-style: none;
  font-weight: bold;
  margin: 10px;
}
.menu-i {
  margin-left: 4rem;
}
.menu-i > a {
  text-decoration: none;
  color: #693e3c;
}
.drop-down {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-top: 30px;
  min-width: 100px;
  z-index: 1;
}

.drop-down a {
  color: #693e3c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-down a:hover {
  color: #f1f1f1;
}

.menu-i:hover .drop-down {
  display: block;
}
.papers {
  margin: 3%;
  width: 90%;
  height: 100vh;
  background-color: oldlace;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2%;
}
.papers > div {
  width: 95%;
  height: 70%;
  background-color: #693e3c;
}
footer {
  height: 30vh;
  width: 102.5%;
  background-color: rgba(28, 27, 27, 0.616);
  margin: -2%;
}
