* {
  background-color: rgba(255, 250, 241, 0.74);
}

body {
  font-family: "Pacifico", sans-serif;
  overflow-x: hidden;
  height: 100vh;
}

::-webkit-scrollbar {
  visibility: hidden;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 5px;
}

.menu {
  display: flex;
  justify-content: end;
  font-size: clamp(10px, 3vw, 18px);
  list-style: none;
  font-weight: 700;
  margin: 5px;
  padding: 5px;
}

.menu-i {
  margin-left: 2rem;
}

.menu-i > a {
  text-decoration: none;
  color: #000000b7;
  transition: all 0.5s ease;
}
.drop-down {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-top: 20px;
  min-width: 100px;
  z-index: 1;
}

.drop-down a {
  color: #693e3c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-down a:hover {
  color: #201616;
}

.menu-i:hover .drop-down {
  display: block;
}
.menu-i > a:hover {
  font-size: clamp(12px, 3vw, 20px);
}

.papers {
  margin: 1%;
  width: 96%;
  height: 150vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 2%;
  background: #00000024;
  margin-top: 2%;
  align-items: center;
}

.papers > div {
  width: 80%;
  height: 80%;
  transition: all 0.5s ease;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
}

.papers > div:hover {
  transform: scale(1.1);
}

.download-btn {
  float: right;
  margin-bottom: 25px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.8s;
}

.preview {
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

footer {
  height: 25vh;
  width: 100%;
  background-color: rgba(28, 27, 27, 0.616);
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > div {
  align-self: flex-end;
  background: transparent;
}

footer p {
  font-size: clamp(8px, 4vw, 20px);
  background: transparent;
  color: #fff;
}
